@model AwIngenieriaSoftware.Models.RegistroDonacion
@{
    ViewBag.Title = "Recibir donación";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="content-header">
        <h1>
            Donación
            <small>Recibir</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="/Donacion/Index"> Donaciones</a></li>
            <li class="active">Recibir</li>
        </ol>
    </section>
    <section class="content container-fluid">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"> Recibir donación</h3>
            </div>
            <form class="form-horizontal">
                <div class="box-body">
                    @Html.HiddenFor(model => model.Id)

                    <div class="card card-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header bg-info">
                            <div class="widget-user-image">
                                <img class="img-circle elevation-2" style="width:70px;height:70px" src="@Url.Action("GetImagen", "Donacion", new { id= @Model.Id})" alt="Foto de objeto">
                            </div>
                            <!-- /.widget-user-image -->
                            <h3 class="widget-user-username">@Model.Descripcion</h3>
                            <h5 class="widget-user-desc">
                                @if (Model.Estado.Equals("REGISTRADO"))
                                {
                                    <span class="label label-success">@Model.Estado</span>
                                }
                                else
                                {
                                    <span class="label label-danger">@Model.Estado</span>
                                }
                            </h5>
                        </div>
                        <div class="card-footer p-0">
                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item" style="padding-bottom: 5px; padding-top: 5px">
                                    <b>Fecha donación: </b> @Model.FechaDonacion.ToString("yyyy-MM-dd HH:mm:ss")
                                </li>
                                <li class="list-group-item" style="padding-bottom: 5px; padding-top: 5px">
                                    <b>Fundación destino: </b> @Model.Beneficiario
                                </li>
                                <li class="list-group-item" style="padding-bottom: 5px; padding-top: 5px">
                                    <b>Donante: </b> @Model.Donante
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.ValidationMessage("CustomError", "", new { @class = "text-danger" })
                    </div>

                    <div class="box-footer">
                        <span>
                            <a href="@Url.Action("Index", "Donacion")" class="btn btn-sm btn-default" title="Cancelar"> Cancelar </a>
                        </span>
                        <button type="submit" class="btn btn-sm btn-primary pull-right"> Recibir </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
}
@section scripts{
    <!-- DataTables -->
    <script src="~/Content/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- page script -->
    <script>
        $(function () {
            $('.select1').select2();
            $('.select2').select2();
        });
    </script>
}
